/* Font */
@font-face {
  font-family: "Game Boy";
  src: url(./font/Early\ GameBoy.ttf);
}

/* Estilos del cuerpo principal */
body {
  margin: 0;
  padding: 0;

  background-image: url(./images/background-tetris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0;

  flex-wrap: wrap;

  column-gap: 15em;
  justify-content: center;

  border-bottom: 0.1em solid white;

  padding-inline-start: 5em;
  padding-inline-end: 5em;

  background-image: url(./images/spaceinvaders.png);
  background-position: center;
}

/* Menu Titulo */
.menu .menu-titulo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.6em;
}

.menu .menu-titulo a {
  font-family: "Game Boy";
  font-size: 2em;
  text-align: center;
}

/* Menu Contenido */
.menu .menu-item {
  position: relative;
  padding: 1em;

  border-radius: 0.2em;
}

.menu a {
  text-decoration: none;

  color: white;

  font-family: "Game Boy";
  font-size: 1em;

  background-color: black;

  padding: 0.1em;
  border: 0.01em solid white;
}

/*Submenu*/
.menu .menu-item:hover a {
  background: rgba(48, 48, 48, 0.603);
}

.menu .menu-item:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

.menu .menu-item .sub-menu {
  display: none;
  position: absolute;

  top: 100%;
  left: 0%;
  z-index: 2;

  border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;

  white-space: nowrap;

  background-color: rgb(0, 0, 0);
  border: 0.1em solid white;
}

.menu .menu-item .sub-menu a {
  border: none;

  background-color: black;
  padding: 0.4em;
  border-top: 0.1em solid white;
}

/* Items Submenu */
.menu .menu-item .sub-menu a:hover {
  background: rgba(48, 48, 48, 0.767);
}


/* Main content */
.main-content {
  display: flex;
  flex-direction: column;
  width: 90%;

  margin: auto;
  margin-block-start: 2em;

  color: white;
  font-family: monospace;
  font-size: 1.5em;

  border: 0.1em rgb(255, 255, 255) solid;
  background-color: rgba(48, 48, 48, 0.603);
}

.main-content .sub-content {
  display: flex;
  text-align: justify;

  padding: 1em;
}

.main-content .sub-content .sub-content-text {
  margin: 0.5em;
}

.main-content .sub-content img {
  margin-bottom: 0.2em;
  border: 0.1em white solid;

  max-width: 30%;
  height: auto;
}

.right {
  margin-left: 1em;
  float: right;
}

.left {
  margin-right: 1em;
  float: left;
}

@media (max-width: 900px) {
  .menu {
    column-gap: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;

    justify-items: center;
  }

  .main-content {
    width: 97%;
  }
}
